/* css styles */

.block1 {
  background-color: #FAEBD7; 
  border-radius: 5px;  
  padding: 3px;
}

.navbar-dark .navbar-brand {
    color: #c4c7ec;
}




h3, h3~p, h4 {
    margin-left: 30px !important; 
} 

h4, h4~p, h5 {
    margin-left: 30px !important; 
} 


.divh3{
  margin-left: 30px !important; 
}