/* css styles */

.block1 {
  background-color: #FAEBD7; 
  border-radius: 5px;  
  padding: 3px;
}

.navbar-dark .navbar-brand {
    color: #c4c7ec;
}




h3, h3~p, h4 {
    margin-left: 30px !important; 
} 

h4, h4~p, h5 {
    margin-left: 30px !important; 
} 


.divh3{
  margin-left: 30px !important; 
}

/* Console output */
.cell-output pre {
  color: #787878;
  border: 1px solid #bdbdbd;
  background-color: #f7f7f7;
  padding: 0.75em;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* Optional: thin left accent bar */
.cell-output {
  border-left: 4px solid #989898;
  padding-left: 0.5em;
}

/* Add outline to section numbers 
.header-section-number {
  font-weight: 800;
  color: #ABABAB;
  margin-right: 0.35em;
}
*/

/* Add outline to section numbers */
.header-section-number {
  color: #555;
  display: inline-block;
  padding: 0.0em 0.1em;
  margin-right: 0.4em;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-weight: bold;
}