/* css styles */

.block1 {
  background-color: #FAEBD7; 
  border-radius: 5px;  
  padding: 3px;
}

.navbar-dark .navbar-brand {
    color: #c4c7ec;
}

h2 + {
   /* text-indent: 30px; */
    margin-left: 30px;
} 

h3, h3 + * {
   /* text-indent: 30px; */
    margin-left: 30px;
}  